.main__img img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.main__nav-pages{
    .main__nav-item{
        color: #6f5e4e;
    }
}


.main__titulo h2{
    text-align: center;
    color: #7c5e45;
    font-size: 30px;
    font-weight: 700;
}
