.redes__contacto .redes{
    display: flex;
    flex-direction: column;
}

.redes__contacto .redes a{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.form input{
    width: 70%;
}

.form-textarea{
    resize: none;
    width: 500px;
}

.titulos__pages{
    font-size: 30px;
    color: #c6af99;
    margin-bottom: 30px;
}

.form-button{
    background-color: rgb(100, 104, 104);
    border: none;
}

.form-button:hover{
    background-color: rgb(129, 134, 134);
    border: none;
    transition: .3s;
}

@media only screen and (min-width: 320px) and (max-width: 575px){

    .main__form{
        margin-top: 80px;
    }
}